[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "BasicRHI"]
	path = BasicRHI
	url = git@github.com:panthuncia/BasicRHI.git
[submodule "OpenRenderGraph"]
	path = OpenRenderGraph
	url = git@github.com:panthuncia/OpenRenderGraph.git
